{% extends 'parametro/parametros.html' %}
{% load static %}

{% comment %} {% block title %}

{% endblock title %} {% endcomment %}

{% block button %}
    <a href="{% url 'asociado:crearAsociado' %}"><i class="fa-solid fa-plus"></i></a>
{% endblock button %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'parametro:parametro' %}">Parametros</a></li>
    <li class="breadcrumb-item active" aria-current="page">Tipo Auxilio</li>
{% endblock breadcrumb %}

{% block contenidoParametros %}

    <table id="datatablesSimple">
        <thead>
            <tr>
                <th>N°</th>
                <th>Nombre</th>
                <th>Opciones</th>
            </tr>    
        </thead>
        <tbody>
            {% for obj in query %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ obj.concepto }}</td>
                    <td>Editar</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock contenidoParametros %}





    