{% extends 'index.html' %}
{% load static %}

{% block title %}
    Configuración de parametros
{% endblock title %}
    
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Parametros</li>
{% endblock breadcrumb %}

{% block contenidoPagina %}
    <div class="row">

        {% include 'parametro/links.html' %}

        <div class="col-12 col-lg-9 col-xl-10">

            {% comment %} Boton de crear {% endcomment %}
            <div class="card">
                <div class="container-fluid">
                    <div class="row">
                        <div class="d-flex justify-content-end align-item-center mt-2">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                {% block buttonCrear %}

                                {% endblock buttonCrear %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    {% block contenidoParametros %}

                    {% endblock contenidoParametros %}
                </div>        
            </div>
        </div>
    </div>

    <div class="modal fade" id="creacion" role="dialog">
        <!-- En este div se visualiza la informacion para la creacion de un nuevo registro de entrada -->
    </div>


{% endblock contenidoPagina %}

{% block extrajsTable %}
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

    <script>

        var $ = jQuery.noConflict()
        function abrir_modal_creacion(url){
            $('#creacion').load(url, function(){
                $(this).modal('show');
            });
        }

        $(document).ready(function() {
            $('#datatablesSimple').DataTable({
                "responsive": true,
                "autoWidth": false,
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "language": {
                        "lengthMenu": "Mostrar _MENU_ registros por página",
                        "zeroRecords": "No se encontraron resultados",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                        "infoEmpty": "Mostrando 0 a 0 de 0 registros",
                        "infoFiltered": "(filtrado de _MAX_ registros totales)",
                        "search": "Buscar:",
                        "paginate": {
                            "first": "Primero",
                            "last": "Último",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        },
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                    },
            });
        });
    </script>

{% endblock extrajsTable %}




    