{% extends 'index.html' %}
{% load static %}

{% block title %}
    Carga Pagos Masivos
{% endblock title %}
    
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Procesos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Carga Pagos Masivos</li>
{% endblock breadcrumb %}

{% block contenidoPagina %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Cargar</button>
    </form>
    


{% endblock contenidoPagina %}