{% extends 'estructura/tabla.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    Empleados
{% endblock title %}

{% block button %}
    <a type="button" class="btn btn-outline-primary d-flex align-items-center justify-content-center" href="{% url 'talento_humano:crearEmpleado' %}" style="width:40px">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg>
    </a>
{% endblock button %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'informacion:informacion' %}">Talento Humano</a></li>
    <li class="breadcrumb-item active" aria-current="page">Empleados</li>
{% endblock breadcrumb %}

{% block contenidoPagina %}
    <div class="card mb-4" style="border:0px">

        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Lista</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'talento_humano:utilidadesEmpleado' %}">Utilidades</a>
            </li>
        </ul>

        <div class="table-responsive">

            <table id="datatablesSimple" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre Completo</th>
                        <th>Número Documento</th>
                        <th>Celular</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock contenidoPagina %}

{% block extrajsTable %}
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
{% endblock extrajsTable %}

{% block extrajs %}



    <script>
        $(document).ready(function() {
            $('#datatablesSimple').DataTable({
                "processing": true,
                "serverSide": true,
                "searchDelay": 500,  // Agregar un pequeño delay para evitar demasiadas peticiones
                "ajax": {
                    "url": "{% url 'talento_humano:listarEmpleados' %}",
                    "type": "GET",
                    "data": function(d) {
                        d.search_value = d.search.value; // Valor de búsqueda
                    }
                },
                "columns": [
                    { "data": "id" },
                    { "data": "nombre_completo" },
                    { "data": "numero_documento" },
                    { "data": "celular" },
                    {
                        "data": "id",
                        "render": function(data, type, row) {
                            return `
                                <center>
                                    <a class="btn-icon" href="/talento-humano/ver-empleado/${data}/" title="Ver Empleado">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                        </svg>
                                    </a>
                                </center>
                            `;
                        },
                        "orderable": false, // No ordenar por esta columna
                        "searchable": false // No buscar por esta columna
                    }
                ],
                "order": [[0, "asc"]],
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    "infoEmpty": "Mostrando 0 a 0 de 0 registros",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                },
            });
        });
    </script>
    
{% endblock extrajs %}
