{% load humanize %}
{{ meses|json_script:"meses-data" }}

    <div class="modal-dialog modal-xl custom-modal" role="dialog" id="creacion">
        <div class="modal-dialog custom-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Detalle Consumo Chip Gasolina</h1>
                    <hr>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" value="{{ pkConvenio }}" id="id-convenio">
                    <button type="button" class="btn btn-primary btn-sm mb-3" id="btn-agregarMes">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                    </button>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="fw-semibold">Número</th>
                                <th class="fw-semibold">Mes</th>
                                <th class="fw-semibold">Valor a Pagar</th>
                                <th class="fw-semibold">Valor Pendiente a Pagar</th>
                                <th class="fw-semibold">Opciones</th>
                            </tr>
                        </thead>
                        <tbody id="tabla-meses-body">
                            {% for obj in historico %}
                                <tr id="fila-consumo-{{ obj.id }}">
                                    <th>{{ forloop.counter }}</th>
                                    <th class="fw-normal">{{ obj.mes_tarifa.concepto }}</th>
                                    <th class="fw-normal"> ${{ obj.valor_pagar|intcomma }}</th>
                                    <th class="fw-normal"> ${{ obj.pendiente_pago|intcomma }}</th>
                                    <th>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            {% comment %} <button class="btn btn-outline-primary btn-sm" onclick="toggleEliminar({{ obj.id }})" id="btn-{{ obj.id }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                                                </svg>
                                            </button> {% endcomment %}
                                            <button class="btn btn-outline-danger btn-sm" onclick="toggleEliminar({{ obj.pk }})" id="btn-eliminar-{{ obj.id }}" data-id-fila="fila-consumo-{{ obj.id }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                                </svg>
                                            </button>
                                        </div>
                                    </th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-success btn-sm mt-2" id="btn-guardarMeses">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                            <path d="M11 2H9v3h2z"></path>
                            <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>

        
        $('#creacion').on('shown.bs.modal', function () {
            let contadorFilas = {{ historico|length }};
            const btnAgregarMes = document.getElementById("btn-agregarMes");
            const tablaBody = document.getElementById("tabla-meses-body");
            const idConvenio = document.getElementById("id-convenio").value;


            const mesesData = JSON.parse(document.getElementById("meses-data").textContent);

            btnAgregarMes.addEventListener("click", function () {
                contadorFilas++;

                const selectMes = document.createElement("select");
                selectMes.name = `mes_${contadorFilas}`;
                selectMes.classList.add("form-select", "form-select-sm");

                mesesData.forEach(mes => {
                    const option = document.createElement("option");
                    option.value = mes.id;
                    option.textContent = mes.concepto;
                    selectMes.appendChild(option);
                });

                const inputValor = document.createElement("input");
                inputValor.type = "number";
                inputValor.step = "0.01";
                inputValor.min = "0";
                inputValor.name = `valor_${contadorFilas}`;
                inputValor.classList.add("form-control", "form-control-sm");

                const btnEliminar = document.createElement("button");
                btnEliminar.type = "button";
                btnEliminar.textContent = "Eliminar";
                btnEliminar.classList.add("btn", "btn-sm", "btn-outline-danger");
                btnEliminar.addEventListener("click", () => {
                    fila.remove();
                });

                const fila = document.createElement("tr");

                fila.innerHTML = `
                    <th>${contadorFilas}</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                `;

                fila.children[1].appendChild(selectMes);
                fila.children[2].appendChild(inputValor);
                fila.children[3].appendChild(document.createTextNode(""));
                fila.children[4].appendChild(btnEliminar);

                tablaBody.appendChild(fila);
            });

            

            const btnGuardarMeses = document.getElementById("btn-guardarMeses");

            btnGuardarMeses.addEventListener("click", () => {
                const filas = tablaBody.querySelectorAll("tr");
                const registros = [];

                filas.forEach(fila => {
                    const selectMes = fila.querySelector("select");
                    const inputValor = fila.querySelector("input");

                    // Solo procesar si existen los campos
                    if (selectMes && inputValor) {
                        const mesId = selectMes.value;
                        const valor = inputValor.value;

                        if (mesId && valor) {
                            registros.push({
                                mes_id: mesId,
                                valor: valor
                            });
                        }
                    }
                });

                fetch(`/informacion/verConvenioGasolina/${idConvenio}/`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": getCookie('csrftoken'),
                    },
                    body: JSON.stringify({ registros: registros })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        
                        tablaBody.querySelectorAll("tr").forEach(fila => {
                            if (fila.querySelector("select") || fila.querySelector("input")) {
                                fila.remove();
                            }
                        });

                        // Agregar nuevas filas con datos renderizados
                        data.nuevos.forEach((registro, index) => {
                            const mesId = registro.mes_id;
                            const valor = parseFloat(registro.valor).toLocaleString('es-CO');
                            const mesTexto = mesesData.find(m => m.id === parseInt(mesId))?.concepto || "Mes";

                            const fila = document.createElement("tr");
                            fila.id = `fila-consumo-${registro.id}`;
                            fila.innerHTML = `
                                <th></th>
                                <td class="fw-normal">${mesTexto}</td>
                                <td class="fw-normal">$${valor}</td>
                                <td class="fw-normal">$${valor}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Botones">
                                        {% comment %} <button class="btn btn-outline-primary btn-sm" onclick="editarRegistro(${registro.id})">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                                            </svg>
                                        </button> {% endcomment %}
                                        <button class="btn btn-outline-danger btn-sm" onclick="toggleEliminar(${registro.id})" id="btn-eliminar-${registro.id}" data-id-fila="fila-consumo-${registro.id}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                            </svg>
                                        </button>
                                    </div>
                                </td>
                            `;
                            tablaBody.appendChild(fila);
                        });

                        // Reiniciar el contador
                        contadorFilas = tablaBody.querySelectorAll("tr").length;
                    } else {
                        alert("Error: " + data.error);
                    }
                })
                .catch(error => {
                    console.error("Error al guardar:", error);
                    alert("Error al enviar los datos.");
                });
            });
        });

        function toggleEliminar(id) {
            console.log("ID a eliminar:", id);
            const btn = document.getElementById(`btn-eliminar-${id}`);
            const filaId = btn.dataset.idFila;
            const fila = document.getElementById(filaId)

            // Verifica si ya está en modo confirmación
            if (btn.dataset.confirmar === "true") {
                // Ya se había hecho clic una vez, ahora sí eliminar
                fetch(`/informacion/eliminar_detalle_gasolina/${id}/`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": getCookie('csrftoken'),
                    },
                })
                .then(response => {
                    if (!response.ok) throw new Error("Error al eliminar");
                    return response.json();
                })
                .then(data => {
                    // Opcional: eliminar la fila, recargar, etc.
                    fila.remove();
                })
                .catch(error => {
                    alert("Error al eliminar el pago");
                    console.error(error);
                });

            } else {
                // Primera vez que se hace clic: activar confirmación
                btn.dataset.confirmar = "true";
                btn.innerHTML = "¿Está seguro?";
                btn.classList.remove("btn-outline-primary");
                btn.classList.add("btn-outline-danger");

                // Si no confirma en 5 segundos, restaurar botón
                setTimeout(() => {
                    if (btn.dataset.confirmar === "true") {
                        btn.dataset.confirmar = "false";
                        btn.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16"><path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/></svg>';
                        btn.classList.remove("btn-outline-danger");
                        btn.classList.add("btn-outline-danger");
                    }
                }, 5000);
            }
        }

        // Función para obtener el CSRF token de las cookies
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let cookie of cookies) {
                    cookie = cookie.trim();
                    if (cookie.startsWith(name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    </script>