<div class="modal-dialog modal-xl" role="document">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Crédito:</h1> 
          <hr>
          <h2 class="modal-title fs-5" id="exampleModalLabel" style="margin-left: 8px;">{{asociado.nombre}} {{asociado.apellido}}</h2>
          <input type="hidden" id="pkAsociado" value="{{asociado.pk}}">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'asociado:crearHistoricoCredito' pkAsociado %}" method="post" id="form">
            {% csrf_token %}
            <div class="row">
              <div class="col-12 col-lg-3 col-md-6 mb-3">
                <label for="fechaSolicitud">Fecha Solicitud:</label>
                <input type="date" id="fechaSolicitud" name="fechaSolicitud" class="form-control">
              </div>
              <div class="col-12 col-lg-3 col-md-6 mb-3">
                <label for="valor">Valor del crédito</label>
                <input name="valor" id="valor" type="number" class="form-control" min="0">
              </div>
              <div class="col-12 col-lg-3 col-md-6 mb-3">
                {{ form.lineaCredito.label_tag }}
                {{ form.lineaCredito }}
              </div>
              <div class="col-12 col-lg-3 col-md-6 mb-3">
                {{ form.amortizacion.label_tag }}
                {{ form.amortizacion }}
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-3 col-md-6 mb-3">
                {{ form.tasaInteres.label_tag }}
                {{ form.tasaInteres }}
              </div>
              <div class="col-12 col-lg-3 col-md-6 mb-3">
                {{ form.medioPago.label_tag }}
                {{ form.medioPago }}
              </div>
              <div class="col-12 col-lg-3 col-md-6 mb-3">
                <label for="cuotas">Número de cuotas</label>
                <input name="cuotas" id="cuotas" type="number" class="form-control" min="0" value="6">
              </div>
              <div class="col-12 col-lg-3 col-md-6 mb-3">
                {{ form.formaDesembolso.label_tag }}
                {{ form.formaDesembolso }}
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-2 col-md-12 col-sm-12 mb-3">
                {{ form.estado.label_tag }}
                {{ form.estado }}
              </div>
              <div class="col-12 col-lg-5 col-md-12 mb-3 d-none" id="divAnalisis">
                <label for="analisisCodeudor">Capacidad de Endeudamiento</label>
                <input type="text" name="analisisCodeudor" class="form form-control" id="analisisCodeudor" readonly>
              </div>
              <div class="col-12 col-lg-5 col-md-12 mb-3 d-none" id="divCapacidadPago">
                <label for="analisisCodeudor">Capacidad de Pago</label>
                <input type="text" name="analisisCodeudor" class="form form-control" id="analisisCapacidadPago" readonly>
              </div>
              <div class="col-12 col-md-3 mb-3" style="display:none">
                {{ form.valorCuota.label_tag }}
                {{ form.valorCuota }}
              </div>
              <div class="col-12 col-md-3 mb-3" style="display:none">
                {{ form.totalCredito.label_tag }}
                {{ form.totalCredito }}
              </div>
            </div>
            <div class="d-none">
                <!-- Datos Deudor  --> 
                <input type="text" name="ingresosActPrin" class="form form-control" id="ingresosActPrin" {% if financiera.ingresosActPrin %} value="{{financiera.ingresosActPrin}}" {% else %} value="0" {% endif %}>
                <input type="text" name="otroIngreso1" class="form form-control" id="otroIngreso1" {% if financiera.otroIngreso1 %} value="{{financiera.otroIngreso1}}" {% else %} value="0" {% endif %}>
                <input type="text" name="otroIngreso2" class="form form-control" id="otroIngreso2" {% if financiera.otroIngreso2 %} value="{{financiera.otroIngreso2}}" {% else %} value="0" {% endif %}>
                <input type="text" name="egresos" class="form form-control" id="egresos" {% if financiera.egresos %} value="{{financiera.egresos}}" {% else %} value="0" {% endif %}>
                <!-- Datos Codeudor  -->

            </div>
            
            <div class="row">
              <div class="col-12">
                <a type="button" id="calcular" class="btn btn-primary">Calcular Tabla de Amortización</a>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12">
                <div class="table-responsive">
                  <table class="table table-hover" id="tablaAmortizacion">
                    <thead>
                      <tr>
                        <th>N° Cuota</th>
                        <th>Fecha</th>
                        <th>Saldo inicial</th>
                        <th>Abono capital</th>
                        <th>Intereses</th>
                        <th>Cuota</th>
                        <th>Saldo final</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Aquí se generará dinámicamente la tabla -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            

            <hr>
            <button id="submit" type="submit" class="btn btn-primary" style="display:none">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                <path d="M11 2H9v3h2z"/>
                <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
              </svg>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

<script>

    // Funcion que muestra la tabla de amortizacion cuando se carga el modal
    $('#creacion').on('shown.bs.modal', function () {
      const tablaBody = document.querySelector("#tablaAmortizacion tbody");
      tablaBody.innerHTML = "";

      // Obtiene la fecha actual en formato YYYY-MM-DD y la asigna al input de fecha
      let today = new Date().toISOString().split('T')[0];  // Obtiene la fecha en formato YYYY-MM-DD
      document.getElementById("fechaSolicitud").value = today;
    });

    // Evento que calcula la tabla de amortizacion cuando se hace clic en el botón
    document.getElementById("calcular").addEventListener("click", function () {
      const valor = parseFloat(document.getElementById("valor").value) || 0;
      const tasa = parseFloat(document.getElementById("tasaInteres").value) || 0;
      const cuotas = parseInt(document.getElementById("cuotas").value) || 0;
      const fechaSolicitud = document.getElementById("fechaSolicitud").value;

      if (!fechaSolicitud) {
        alert("Por favor, ingresa una fecha válida.");
        return;
      }

      if (valor > 0 && tasa > 0 && cuotas > 0) {
        generarTablaAmortizacion(valor, tasa, cuotas, fechaSolicitud, 1);
        let pkAsociado = document.getElementById("pkAsociado").value;
        calcularCapacidadEndeudamiento(pkAsociado);
        document.getElementById("submit").style.display = "block";
      } else {
        alert("Por favor, ingresa valores válidos.");
      }
      

    });
    

</script>