<div class="modal-dialog modal-xl custom-modal" role="dialog">
    <div class="modal-content">
        
        <!-- Encabezado -->
        <div class="modal-header bg-primary text-white">
          <div>
            <h5 class="modal-title mb-0">{% if create %}Crear Crédito{% else %} Editar Crédito{% endif %}</h5>
            <h6 class="text-light mb-0">{{ asociado.nombre }} {{ asociado.apellido }}</h6>
          </div>
          <input type="hidden" id="pkAsociado" value="{{ asociado.pk }}">
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form action="{% if create %} {% url 'asociado:crearHistoricoCredito' pkAsociado %} {% else %} {% url 'asociado:editarHistoricoCredito' pkAsociado pk %} {% endif %}" method="post" id="form">
            {% csrf_token %}

            <!-- Datos del credito -->
            <div class="card mb-4 shadow-sm border-0">
              <div class="card-header bg-light">
                <h6 class="mb-0 text-secondary">Información del Crédito</h6>
              </div>

              <div class="card-body">
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                    {{ form.fechaSolicitud.label_tag }}
                    {{ form.fechaSolicitud }}
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                    {{ form.valor.label_tag }}
                    {{ form.valor }}
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                    {{ form.lineaCredito.label_tag }}
                    {{ form.lineaCredito }}
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                    {{ form.amortizacion.label_tag }}
                    {{ form.amortizacion }}
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                    {{ form.tasaInteres.label_tag }}
                    {{ form.tasaInteres }}
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                    {{ form.primerMes.label_tag }}
                    {{ form.primerMes }}
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                    {{ form.medioPago.label_tag }}
                    {{ form.medioPago }}
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                    {{ form.cuotas.label_tag }}
                    {{ form.cuotas }}
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                    {{ form.formaDesembolso.label_tag }}
                    {{ form.formaDesembolso }}
                  </div>
            
                  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                    {{ form.estado.label_tag }}
                    {{ form.estado }}
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3" style="display:none">
                    {{ form.valorCuota.label_tag }}
                    {{ form.valorCuota }}
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3" style="display:none">
                    {{ form.totalCredito.label_tag }}
                    {{ form.totalCredito }}
                  </div>
                  {% if not create %}
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                      {{ form.banco.label_tag }}
                      {{ form.banco }}
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                      {{ form.tipoCuenta.label_tag }}
                      {{ form.tipoCuenta }}
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                      {{ form.numCuenta.label_tag }}
                      {{ form.numCuenta }}
                    </div>
                  {% endif %}
                </div>
                <div class="d-none">
                    <!-- Datos Deudor  --> 
                    <input type="text" name="ingresosActPrin" class="form form-control" id="ingresosActPrin" {% if financiera.ingresosActPrin %} value="{{financiera.ingresosActPrin}}" {% else %} value="0" {% endif %}>
                    <input type="text" name="otroIngreso1" class="form form-control" id="otroIngreso1" {% if financiera.otroIngreso1 %} value="{{financiera.otroIngreso1}}" {% else %} value="0" {% endif %}>
                    <input type="text" name="otroIngreso2" class="form form-control" id="otroIngreso2" {% if financiera.otroIngreso2 %} value="{{financiera.otroIngreso2}}" {% else %} value="0" {% endif %}>
                    <input type="text" name="egresos" class="form form-control" id="egresos" {% if financiera.egresos %} value="{{financiera.egresos}}" {% else %} value="0" {% endif %}>
                    <!-- Datos Codeudor  -->
                </div>
              </div>
            </div>

            <!-- Datos del Capacidad -->
            <div class="card mb-4 shadow-sm border-0">
              <div class="card-header bg-light">
                <h6 class="mb-0 text-secondary">Análisis de Endeudamiento</h6>
              </div>

              <div class="card-body">
                <div class="row">
                  <div class="col-12 col-md-6 mb-3 d-none" id="divAnalisis">
                    <label for="analisisCodeudor">Capacidad de Endeudamiento</label>
                    <input type="text" name="analisisCodeudor" class="form form-control" id="analisisCodeudor" readonly>
                  </div>
                  <div class="col-12 col-md-6 mb-3 d-none" id="divCapacidadPago">
                    <label for="analisisCodeudor">Capacidad de Pago</label>
                    <input type="text" name="analisisCodeudor" class="form form-control" id="analisisCapacidadPago" readonly>
                  </div>
                </div>
              </div>
              
            </div>
  
            <!-- Tabla de amortizacion -->
            <div class="card mb-4 shadow-sm border-0">
              <div class="card-header bg-light d-flex justify-content-between align-items-center">
                <h6 class="mb-0 text-secondary">Tabla de Amortización</h6>
                <a type="button" id="calcular" class="btn btn-sm btn-primary">Calcular</a>
              </div>
              <div class="card-body">
                <div class="row mt-4">
                  <div class="col-12">
                    <div class="table-responsive">
                      <table class="table table-hover" id="tablaAmortizacion">
                        <thead>
                          <tr>
                            <th>N° Cuota</th>
                            <th>Fecha</th>
                            <th>Saldo inicial</th>
                            <th>Abono capital</th>
                            <th>Intereses</th>
                            <th>Cuota</th>
                            <th>Saldo final</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- Aquí se generará dinámicamente la tabla -->
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>            
            
            <!-- Botón Guardar -->
            <div class="text-end">
              <button id="btnGuardar" type="submit" class="btn btn-success d-none">Guardar Crédito</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    // Funcion que muestra la tabla de amortizacion cuando se carga el modal
    $('#creacion').on('shown.bs.modal', function () {
      const tablaBody = document.querySelector("#tablaAmortizacion tbody");
      tablaBody.innerHTML = "";

      // Obtiene la fecha actual en formato YYYY-MM-DD y la asigna al input de fecha
      let today = new Date().toISOString().split('T')[0];  // Obtiene la fecha en formato YYYY-MM-DD
      document.getElementById("fechaSolicitud").value = today;
    });


    // funcion para obtener fechaFinal del modelo mesTarifa
    async function obtenerFechaPrimerPago(id_primerMes) {
      const res = await fetch(`/parametro/utils/mes-tarifa-info/${id_primerMes}/`);
      const data = await res.json();
      return data.fechaInicio; // YYYY-MM-DD
    }


    // Evento que calcula la tabla de amortizacion cuando se hace clic en el botón
    document.getElementById("calcular").addEventListener("click", async function () {
      const valor = parseFloat(document.getElementById("valor").value) || 0;

      const tasaInteres = document.getElementById('id_tasaInteres');
      const [tasaStr, concepto] = tasaInteres.value.split('|');
      const tasa = parseFloat(tasaStr) || 0;

      const cuotas = parseInt(document.getElementById("cuotas").value) || 0;
      const fechaSolicitud = document.getElementById("fechaSolicitud").value;
      const primerMesPago = document.getElementById("id_primerMes").value;

      if (!fechaSolicitud) {
        Swal.fire({
          icon: 'info',
          title: 'Falta la fecha',
          text: 'Por favor, ingresa la fecha de solicitud.',
          confirmButtonText: 'Ok',
          confirmButtonColor: '#3085d6'
        });
        return;
      }
      if (!primerMesPago) {
        Swal.fire({
          icon: 'info',
          title: 'Falta seleccionar primer mes de cobro',
          text: 'Por favor, seleccione un mes.',
          confirmButtonText: 'Ok',
          confirmButtonColor: '#3085d6'
        });
        return;
      }
      const fechaPrimerMes = await obtenerFechaPrimerPago(primerMesPago);

      if (valor > 0 && cuotas > 0) {
        generarTablaAmortizacion(valor, tasa, cuotas, fechaSolicitud, fechaPrimerMes, 1);
        let pkAsociado = document.getElementById("pkAsociado").value;
        calcularCapacidadEndeudamiento(pkAsociado);
        document.getElementById("btnGuardar").classList.remove("d-none");
      }else {
        Swal.fire({
          icon: 'warning',
          title: 'Datos incompletos',
          text: 'Por favor, ingresa valores válidos para el valor bruto y las cuotas.',
          confirmButtonText: 'Entendido',
          confirmButtonColor: '#3085d6'
        });
        return;
      }
    });


    // Evento que quita el disabled de los inputs antes de enviar
    document.getElementById("form").addEventListener("submit", function() {
      // Seleccionar TODOS los campos disabled
      const disabledFields = this.querySelectorAll("[disabled]");

      disabledFields.forEach(function(field) {
        field.disabled = false;
      });
    });

</script>