  {% load humanize %}
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-danger text-white">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Auxilio</h1>
            <hr>
          <h2 class="modal-title fs-5" id="exampleModalLabel"></h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <table class="table table-xl">
                <tr>
                    <th>Nombre</th>
                    <th>Número Documento</th>
                    <th>Valor</th>
                </tr>
                <tr>
                    <td>{{queryAuxilio.asociado.nombre}} {{queryAuxilio.asociado.apellido}}</td>
                    <td>{{queryAuxilio.asociado.numDocumento|intcomma}}</td>
                    <td>${{queryAuxilio.valor|intcomma}}</td>
                </tr>
            </table>
        
        </div>
        <form action="{% url 'asociado:eliminarAuxilio' pkAsociado pk %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <textarea name="observacion" class="form form-control w-75" id="id_observacion" placeholder="Motivo" required></textarea>
                </div>
            </div>
            <br>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button  type="submit" class="btn btn-danger">Eliminar</a>
            </div>
        </form>
      </div>
    </div>
  </div>