{% extends 'estructura/tabla.html' %}
{% load static %}
{% load humanize %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'informacion:informacion' %}">Información</a></li>
    <li class="breadcrumb-item"><a href="{% url 'asociado:asociado' %}">Asociados</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalle Asociado</li>
    <li class="breadcrumb-item active" aria-current="page">{{queryAsociado.nombre}} {{queryAsociado.apellido}} - {{queryAsociado.numDocumento}}</li>
{% endblock breadcrumb %}

{% block title %}
    Asociado
{% endblock title %}

{% block submenu %}

    {% include 'estructura/asociado/navbar.html' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-end mt-4 mb-4">
                    <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'asociado:asociado' %}" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                        </svg>
                    </a>
                    <button class="btn btn-primary d-flex align-items-center justify-content-center" onclick="abrir_modal_creacion('{% url 'asociado:crearHistoricoCredito' pkAsociado %}')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div> 

    <div class="modal fade" id="creacion" role="dialog">
    <!-- En este div se visualiza la informacion para la creacion de un nuevo registro de entrada -->
    </div>

{% endblock submenu %}

{% block tablaencabezado %}
    <tr>
        <th>N°</th>
        <th>Fecha Solicitud</th>
        <th>Valor</th>
        <th>Cuotas</th>
        <th>Valor Cuotas</th>
        <th>Valor Total</th>
        <th>Linea de Crédito</th>
        <th>Tasa Interes</th>
        <th>Estado</th>
        <th>Codeudor</th>
        <th>Opciones</th>
    </tr>
{% endblock tablaencabezado %}

{% block tablafilas %}
    {% for obj in query %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ obj.fechaSolicitud|date:"d/m/Y" }}</td>
            <td>${{ obj.valor|intcomma }}</td>
            <td>{{ obj.cuotas }}</td>
            <td>${{ obj.valorCuota|intcomma }}</td>
            <td>${{ obj.totalCredito|intcomma }}</td>
            <td>{{ obj.lineaCredito }}</td>
            <td>{{ obj.tasaInteres }}</td>
            <td>{{ obj.estado }}</td>
            <td>
                <center>
                {% for codeudor in obj.codeudor_set.all %}
                    {% if codeudor.id %}
                        <button class="btn btn-outline-primary custom-btn" onclick="abrir_modal_edicion('{% url 'asociado:editarCodeudor' codeudor.pk pkAsociado%}')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                            </svg>
                        </button>
                    {% endif %}
                {% empty %}
                    <button class="btn btn-outline-primary custom-btn" onclick="abrir_modal_edicion('{% url 'asociado:crearCodeudor' pkAsociado obj.pk %}')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                    </button>
                {% endfor %}
              
            </td>
            <td>
                <center>
                <button class="btn btn-outline-primary custom-btn" onclick="abrir_modal_creacion('{% url 'asociado:editarHistoricoCredito' pkAsociado obj.pk %}')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                    </svg>
                </button>
            </td>
        </tr>
    {% endfor %}

    <div class="modal fade" id="creacion" role="dialog">
        <!-- En este div se visualiza la informacion para la creacion de un nuevo registro de entrada -->
    </div>

    <div class="modal fade" id="edicion" role="dialog">
        <!-- En este div se visualiza la informacion para la creacion de un nuevo registro de entrada -->
    </div>
  

{% endblock tablafilas %}

{% block extrajs %}

<script type="text/javascript">
    var $ = jQuery.noConflict()
    function abrir_modal_creacion(url){
        $('#creacion').load(url, function(){
            $(this).modal('show');
        });
    }
    var $ = jQuery.noConflict()
    function abrir_modal_edicion(url){
        $('#edicion').load(url, function(){
            $(this).modal('show');
        });
    }
</script>

<script src="{% static 'js/tablaAmortizacion.js' %}"></script>

{% endblock extrajs %}  



    