<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content shadow-lg border-0">

        <!-- ENCABEZADO -->
        <div class="modal-header bg-primary text-white">
            <div>
                <h5 class="modal-title mb-0">Ver Seguro Vida Inactivo</h5>
                <h6 class="text-light mb-0">Titular - {{ objSeguroVida.asociado.nombre }} {{ objSeguroVida.asociado.apellido }}</h6>
            </div>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- CUERPO -->
        <div class="modal-body">

            <div class="card shadow-sm border-0 mb-4">
                <div class="card-header">
                    <h6 class="mb-0">Información del Seguro Vida</h6>
                </div>

                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label class="form-label">Fecha Ingreso:</label>
                            <input type="text" class="form-control" value="{{ objSeguroVida.fechaIngreso|date:'d/m/Y' }}" readonly>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Valor:</label>
                            <input type="text" class="form-control" value="{{ objSeguroVida.valorPago }}" readonly>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Primer Mes Cobro:</label>
                            <input type="text" class="form-control" value="{{ objSeguroVida.primerMesSeguroVida }}" readonly>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Fecha Retiro:</label>
                            <input type="text" class="form-control" value="{{ objSeguroVida.fechaRetiro|date:'d/m/Y' }}" readonly>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Último Mes Cobro:</label>
                            <input type="text" class="form-control" value="{{ objSeguroVida.ultimoMesSeguroVida }}" readonly>
                        </div>

                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>