<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">

        <!-- ENCABEZADO -->
        <div class="modal-header bg-primary text-white">
            <div>
                <h5 class="modal-title mb-0">{%if create %} Crear Convenio {% else %} Editar Convenio {% endif %}</h5>
                <h6 class="text-light mb-0">{{ query.nombre }} {{ query.apellido }}</h6>
            </div>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <!-- CUERPO -->
        <div class="modal-body">
            {% if create %}
                <form action="{% url 'asociado:crearConvenio' pkAsociado %}" method="post">
                {{ form.as_p }}
            {% else %}
                <form action="{% url 'asociado:editarConvenio' pkAsociado pk %}" method="post">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Fecha Ingreso</span>
                    <input type="date" class="form-control" value="{{query.fechaIngreso|date:'Y-m-d'}}" name="fechaIngreso" id="id_fechaIngreso" required>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Valor</span>
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" value="{{query.convenio.valor}}" name="valor" id="id_valor" min="0" disabled>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Primer mes cobro</span>
                    <select name="primerMes" class="form-control" id="id_primerMes">
                        {% for mes in meses %}
                            <option value="{{ mes.pk }}" {% if mes.pk == query.primerMes.pk %} selected {% endif %}>{{mes.concepto}}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}                    
            {% csrf_token %}
                <div class="text-end mt-4">
                    <button type="submit" class="btn btn-success">
                        {%if create %}Guardar{% else %}Guardar Cambios{% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>