{% extends 'index.html' %}
{% load static %}

{% block title%}    
    Asociado
{% endblock title %}
    
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="#">Información</a></li>
    <li class="breadcrumb-item"><a href="{% url 'asociado:asociado' %}">Asociados</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalle Asociado</li>
    <li class="breadcrumb-item active" aria-current="page">{{ query.nombre }} {{ query.apellido }}</li>

{% endblock breadcrumb %}

{% block contenidoPagina %}
    
    {% include 'estructura/asociado/navbar.html' %}

    <div class="modal fade" id="creacion" role="dialog">
        <!-- En este div se visualiza la informacion para la creacion de un nuevo registro de entrada -->
    </div>
    <div class="row">
        
        {% comment %} Scripts de funciones para realizar documentos PDF{% endcomment %}
        <script src="{% static 'js/formatos.js' %}"></script>       
        <script src="{% static 'lib/jspdf/1.3.4/jspdf.min.js' %}"></script>

        {% if mensaje %}
            
        {% else %}
            <div class="card mb-4" style="border:0px">
                <div class="row" style="display:flex; justify-content:flex-end; margin-right:25px; margin-top:15px">
                    <div class="col-sm-1">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="{% url 'asociado:asociado' %}" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                                </svg>
                            </a>  
                        </div>
                    </div>
                </div> 
            </div> 
                
            <div class="card" style="width: 18rem; margin-right:20px; margin-bottom:10px">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">Formato Vinculación y Actualización de Datos</h5>
                        <button type="button" class="btn btn-danger" onclick="llamarPDF(1,'{% static 'img/Registro_page_0001.jpg'%}')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"/>
                            </svg>
                        </button>
                    </center>
                </div>
            </div>
            <div class="card" style="width: 18rem; margin-right:20px; margin-bottom:10px">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">Formato Actualización Servicios Exequiales</h5>
                        <button type="button" class="btn btn-danger" onclick="llamarPDF(2,'{% static 'img/Formato_Servicios_Exequiales_page_0001.jpg' %}')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"/>
                            </svg>
                        </button>
                    </center>
                </div>
            </div>
            <div class="card" style="width: 18rem; margin-right:20px; margin-bottom:10px">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">Formato Solicitud Bienestar Social</h5>
                        <button class="btn btn-danger" onclick="abrir_modal_creacion('{% url 'asociado:modalFormato' pkAsociado 3 %}')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"/>
                            </svg>
                        </button>
                    </center>
                </div>
            </div>
            <div class="card" style="width: 18rem; margin-right:20px; margin-bottom:10px">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">Formato Extracto de Pago</h5>
                        <button class="btn btn-danger" onclick="abrir_modal_creacion('{% url 'asociado:modalFormato' pkAsociado 4 %}')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"/>
                            </svg>
                        </button>
                    </center>
                </div>
            </div>

            {% comment %} <form> {% endcomment %}
            <form style="display:none">
                <h2>Tabla Asociado</h2>
                <input type="date" id="id_fechaIngreso" value="{{query.fechaIngreso|date:"Y-m-d"}}">
                <input type="date" id="id_fechaActual" value="{{fechaActual|date:"Y-m-d"}}">
                <input type="text" id="id_tPersona" value="{{query.tPersona}}">
                <input type="text" id="id_actualizacion" value="{{actualizacion}}">
                <input type="text" id="id_nombre" value="{{query.nombre}}">
                <input type="text" id="id_apellido" value="{{query.apellido}}">
                <input type="text" id="id_tipoDocumento" value="{{query.tipoDocumento}}">
                <input type="text" id="id_numDocumento" value="{{query.numDocumento}}">
                <input type="date" id="id_fechaExpedicion" value="{{query.fechaExpedicion|date:"Y-m-d"}}">
                <input type="text" id="id_mpioDoc" value="{{query.mpioDoc}}">
                <input type="text" id="id_nacionalidad" value="{{query.nacionalidad}}">
                <input type="text" id="id_genero" value="{{query.genero}}">
                <input type="text" id="id_estadoCivil" value="{{query.estadoCivil}}">
                <input type="text" id="id_email" value="{{query.email}}">
                <input type="text" id="id_numResidencia" value="{{query.numResidencia}}">
                <input type="text" id="id_numCelular" value="{{query.numCelular}}">
                <input type="text" id="id_envioInfoCorreo" value="{{query.envioInfoCorreo}}">
                <input type="text" id="id_envioInfoMensaje" value="{{query.envioInfoMensaje}}">
                <input type="text" id="id_envioInfoWhatsapp" value="{{query.envioInfoWhatsapp}}">
                <input type="text" id="id_nivelEducativo" value="{{query.nivelEducativo}}">
                <input type="text" id="id_tituloPregrado" value="{{query.tituloPregrado}}">
                <input type="text" id="id_tituloPosgrado" value="{{query.tituloPosgrado}}">
                <h2>Informacion Nacimiento</h2>
                <input type="date" id="id_fechaNacimiento" value="{{query.fechaNacimiento|date:"Y-m-d"}}">
                <input type="text" id="id_dtoNacimiento" value="{{query.dtoNacimiento}}">
                <input type="text" id="id_mpioNacimiento" value="{{query.mpioNacimiento}}">
                <h2>Informacion Residencia</h2>
                <input type="text" id="id_tipoVivienda" value="{{query.tipoVivienda}}">
                <input type="number" id="id_estrato" value="{{query.estrato}}">
                <input type="text" id="id_direccion" value="{{query.direccion}}">
                <input type="text" id="id_barrio" value="{{query.barrio}}">
                <input type="text" id="id_deptoResidencia" value="{{query.deptoResidencia}}">
                <input type="text" id="id_mpioResidencia" value="{{query.mpioResidencia}}">
                <h2>Tabla Laboral</h2>
                <input type="text" id="id_ocupacion" value="{{queryLaboral.ocupacion}}">
                <input type="text" id="id_nombreEmpresa" value="{{queryLaboral.nombreEmpresa}}">
                <input type="text" id="id_cargo" value="{{queryLaboral.cargo}}">
                <input type="text" id="id_nomRepresenLegal" value="{{queryLaboral.nomRepresenLegal}}">
                <input type="text" id="id_numDocRL" value="{{queryLaboral.numDocRL}}">
                <input type="date" id="id_fechaInicio" value="{{queryLaboral.fechaInicio|date:"Y-m-d"}}">
                <input type="date" id="id_fechaTerminacion" value="{{queryLaboral.fechaTerminacion|date:"Y-m-d"}}">
                <input type="text" id="id_direccionLab" value="{{queryLaboral.direccion}}">
                <input type="text" id="id_mpioTrabajo" value="{{queryLaboral.mpioTrabajo}}">
                <input type="text" id="id_dptoTrabajo" value="{{queryLaboral.dptoTrabajo}}">
                <input type="text" id="id_telefono" value="{{queryLaboral.telefono}}">
                <input type="text" id="id_admRP" value="{{queryLaboral.admRP}}">
                <input type="text" id="id_pep" value="{{queryLaboral.pep}}">
                <input type="text" id="id_activEcono" value="{{queryLaboral.activEcono}}">
                <input type="text" id="id_ciiu" value="{{queryLaboral.ciiu}}">
                <input type="text" id="id_banco" value="{{queryLaboral.banco}}">
                <input type="text" id="id_numCuenta" value="{{queryLaboral.numCuenta}}">
                <input type="text" id="id_tipoCuenta" value="{{queryLaboral.tipoCuenta}}">
                <h2>Tabla Financiera</h2>
                <input type="text" id="id_ingresosActPrin" value="{{objFinanciera.ingresosActPrin}}">
                <input type="text" id="id_otroIngreso1" value="{{objFinanciera.otroIngreso1}}">
                <input type="text" id="id_otroIngreso2" value="{{objFinanciera.otroIngreso2}}">
                <input type="text" id="id_egresos" value="{{objFinanciera.egresos}}">
                <input type="text" id="id_activos" value="{{objFinanciera.activos}}">
                <input type="text" id="id_pasivos" value="{{objFinanciera.pasivos}}">
                <input type="text" id="id_patrimonio" value="{{objFinanciera.patrimonio}}">
                <h2>Informacion Referencia Familiar</h2>
                <input type="text" id="id_nombreRF" value="{{query.nombreRF}}">
                <input type="text" id="id_parentesco" value="{{query.parentesco}}">
                <input type="text" id="id_numContacto" value="{{query.numContacto}}">           
                <h2>Tabla Parametro Asociado</h2>
                <input type="text" id="id_autorizaciondcto" value="{{objParametroAsociado.autorizaciondcto}}">           
                <input type="text" id="id_empresa" value="{{objParametroAsociado.empresa}}">
                <h2>Tabla Beneficiarios</h2>
                {% for beneficiarios in objBeneficiario %}
                    <input type="text" id="id_nombreBenef_{{forloop.counter}}" value="{{beneficiarios.nombre}} {{beneficiarios.apellido}}">           
                    <input type="text" id="id_apellidoBenef_{{forloop.counter}}" value="{{beneficiarios.tipoDocumento}}">
                    <input type="text" id="id_numDocume_{{forloop.counter}}" value="{{beneficiarios.numDocumento}}">
                    <input type="text" id="id_parentesco_{{forloop.counter}}" value="{{beneficiarios.parentesco}}">
                    <input type="text" id="id_paisRepatriacion_{{forloop.counter}}" value="{{beneficiarios.paisRepatriacion}}">
                    <input type="date" id="id_NacBen_{{forloop.counter}}" value="{{beneficiarios.fechaNacimiento|date:"Y-m-d"}}">
                {% endfor %}
                <input type="text" id="id_cuentaBeneficiario" value="{{cuentaBeneficiario}}">
                <h2>Tabla Mascotas</h2>
                {% for mascota in objMascota %}
                    <input type="text" id="id_nombreMasc_{{forloop.counter}}" value="{{mascota.nombre}}">           
                    <input type="text" id="id_tipoMasc_{{forloop.counter}}" value="{{mascota.tipo}}">
                    <input type="text" id="id_raza_{{forloop.counter}}" value="{{mascota.raza}}">
                    <input type="date" id="id_nacMasc_{{forloop.counter}}" value="{{mascota.fechaNacimiento|date:"Y-m-d"}}">
                    <input type="text" id="id_vacunas_{{forloop.counter}}" value="{{mascota.vacunasCompletas}}">
                {% endfor %}
                <input type="text" id="id_cuentaMascota" value="{{cuentaMascota}}">
                <h2>Usuario</h2>
                <input type="text" id="usuario" value="{{user.first_name}} {{user.last_name}}">
            </form>
            
        {% endif %}
    <div>

{% endblock contenidoPagina %}

{% block extrajs %}

    <script type="text/javascript">

        var $ = jQuery.noConflict()
        function abrir_modal_creacion(url){
            $('#creacion').load(url, function(){
                $(this).modal('show');
            });
        }
    </script>
    
{% endblock extrajs %}