{% load static %}
{% load humanize %}

{% block content %}

{% if formato == 1 %}
  <div class="modal-dialog modal-md" role="document">
{% elif formato == 3 %}
  <div class="modal-dialog modal-xl" role="document">
{% elif formato == 4 %}
  <div class="modal-dialog modal-md" role="document">
{% elif formato == 5 %}
    <div class="modal-dialog modal-xl" role="document">
{% endif %}
    
    <div class="modal-content">
      <div class="modal-header align-items-center bg-primary text-white">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          {% if formato == 1 %}
            Descargar Formato Vinculación y Actualización de Datos
          {% elif formato == 3 %}
            Descargar Formato Bienestar Social
          {% elif formato == 4%}
            Descarga Formato Extracto
          {% elif formato == 5%}
            Descargar Formato Solicitud de Crédito
          {% endif %}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if formato == 1 %}
          <label for="id_fechaActualizacionDatos" class="form-label">Fecha Actualización Datos *</label>
          <input type="date" class="form-control" id="id_fechaActualizacionDatos" name="fechaActualizacionDatos" value="{{ fechaActualizacionDatos.fechaActualizacionDatos|date:'Y-m-d' }}" required>
          <div class="modal-footer border-0 d-flex justify-content-center">
            <button type="button" class="btn btn-danger rounded-3 mt-3 px-4 py-2 shadow-sm" id="btnDescargar"
                    onclick="guardarFechaYGenerarPDF({{ pkAsociado }}, '{% static 'img/Registro_Asociados_2025_page_0001.jpg' %}', 'RA')" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"/>
                </svg>
                <span id="btnText">Descargar</span>
                <div id="btnSpinner" class="spinner-border spinner-border-sm text-light d-none" role="status"></div>
            </button>
          </div>
        {% elif formato == 3 %}
          <div class="table-responsive">
            <table class="table table-hover">
              <tr>
                <th>N°</th>
                <th>Fecha Solicitud</th>
                <th>Tipo Auxilio</th>
                <th>Valor</th>
                <th>Estado</th>
                <th>Opciones</th>
              </tr>
              {% for aux in objAuxilio %}
                <tr>
                  <th>{{ forloop.counter }}</th>
                  <td>{{ aux.fechaSolicitud }}</td>
                  <td>{{ aux.tipoAuxilio }}</td>
                  <td>${{ aux.valor|intcomma }}</td>
                  <td>{{ aux.estado }}</td>
                  <th>
                    <button type="button" class="btn btn-danger rounded-3 px-4 py-2 shadow-sm fw-semibold d-flex align-items-center gap-2"
                      onclick="llamarPDF(3,'{% static 'img/Auxilios_Bienestar_Social_2025_page_0001.jpg'%}', {{pkAsociado}}, 'SAE', { id_auxilio: {{ aux.pk }} }, this)">
                      <span class="btnText">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"/>
                        </svg>
                      </span>
                      <div class="spinner-border spinner-border-sm text-light d-none btnSpinner" role="status"></div>
                    </button>
                  </th>  
                </tr>
              {% endfor %}
            </table>
          </div>
        {% elif formato == 4 %}
          <form action="{% url 'asociado:generarFormato' pkAsociado 1 4 %}" method="get">
          {%csrf_token%}
              <label for="id_mes" class="form-label">Mes descarga Extracto</label>
              <select name="mes" class="form-select" id="id_mes">
                  {% for mes in objMes %}
                      <option value="{{mes.pk}}">{{mes.concepto}}</option>
                  {% endfor %}
              </select>
              <div>
                  <div class="form-check form-switch mt-4">
                    <input class="form-check-input" type="checkbox" role="switch" id="switchCheckChecked" name="saldos">
                    <label class="form-check-label" for="switchCheckChecked">¿Traer saldos en pagos?</label>
                  </div>
              </div>
              <hr>
              <button type="submit" class="btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"/>
                </svg> Generar
              </button>
          </form>
        {% elif formato == 5 %}
          <div class="table-responsive">
            <table class="table table-hover">
              <tr>
                <th>N°</th>
                <th>Fecha Solicitud</th>
                <th>Nombre Completo</th>
                <th>Valor</th>
                <th>Cuotas</th>
                <th>Estados</th>
                <th>Opciones</th>
              </tr>
              {% for credito in query %}
                <tr>
                  <th>{{ forloop.counter }}</td>
                  <td>{{ credito.fechaSolicitud|date:"d/m/Y" }}</td>
                  <td>{{ credito.asociado.nombre }} {{ credito.asociado.apellido }}</td>
                  <td>${{ credito.valor|intcomma }}</td>
                  <td>{{ credito.cuotas }}</td>
                  <td>{{ credito.estado }}</td>
                  <td>

                    <button type="button" class="btn btn-danger btn-sm px-2 py-1 mb-1 w-100"
                      onclick="llamarPDF(5, '{% static 'img/Solicitud_Credito_2025_page_0001.jpg'%}', {{ pkAsociado }}, 'SC', { id_credito: {{ credito.pk }} }, this)">
                      <span class="btnText">  
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"/>
                          </svg>
                        </span>
                        Solicitud de Crédito
                        <div class="spinner-border spinner-border-sm text-light d-none btnSpinner" role="status"></div>
                    </button>

                    <br>

                    <button type="button" class="btn btn-danger btn-sm px-2 py-1 mb-1 w-100"
                      onclick="llamarPDF(6, '{% static 'img/PagarePersonaNatural_2025_page_0001.jpg' %}', '{{ pkAsociado }}', 'PPN', {}, this)">
                      <span class="btnText">  
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"/>
                        </svg>
                      </span>
                      Pagaré
                      <div class="spinner-border spinner-border-sm text-light d-none btnSpinner" role="status"></div>
                    </button>

                    <br>

                    <button type="button" class="btn btn-danger btn-sm px-2 py-1 mb-1 w-100"
                      onclick="llamarPDF(7, '{% static 'img/Otorgamiento_Credito_page_0001.jpg' %}', '{{ pkAsociado }}', 'OC', { id_credito: {{ credito.pk }} }, this)">
                      <span class="btnText">  
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"/>
                        </svg>
                      </span>
                      Otorgamiento de Crédito
                      <div class="spinner-border spinner-border-sm text-light d-none btnSpinner" role="status"></div>
                    </button>

                    <br>

                    <button type="button" class="btn btn-danger btn-sm px-2 py-1 mb-1 w-100"
                      onclick="llamarPDF(8, '{% static 'img/Tabla_Amortizacion_Credito_2025_page_0001.jpg' %}', '{{ pkAsociado }}', 'TA', { id_credito: {{ credito.pk }} }, this)">
                      <span class="btnText">  
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"/>
                        </svg>
                      </span>
                      Tabla de Amortización
                      <div class="spinner-border spinner-border-sm text-light d-none btnSpinner" role="status"></div>
                    </button> 

                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>
        {% endif %}
      </div>
    </div>
    
  </div>
  {% endblock content %}

  {% block extrajs %}
    <script src="{% static 'js/funcionesFormatos.js' %}"></script>
  {% endblock extrajs %}
