<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

        <!-- ENCABEZADO -->
        <div class="modal-header bg-primary text-white">
            <div>
                <h5 class="modal-title mb-0">{% if create %} Crear Repatriación Titular {% else %} Editar Repatriación Titular {% endif %}</h5>
                <h6 class="text-light mb-0">{{ query.nombre }} {{ query.apellido }}</h6>
            </div>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- CUERPO -->
        <div class="modal-body">
            <form action="{% if create %}{% url 'asociado:repatriacionTitular' pkAsociado %}{% else %}{% url 'asociado:verRepatriacionTitular' object.pk pkAsociado %}{% endif %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-end mt-4">
                    <button type="submit" class="btn btn-success">
                        {% if create %}Guardar{% else %}Guardar Cambios{% endif %}
                    </button>
                </div>  
            </form>
        </div>

    </div>
</div>