{% extends 'index.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    Pagos
{% endblock title %}

{% block button %}
    
{% endblock button %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'proceso:informacion' %}">Procesos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Pagos</li>
{% endblock breadcrumb %}

{% block contenidoPagina %}

<br>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'proceso:asociadoPago' %}">Realizar Pago</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Lista</a>
    </li>
</ul>
<hr>

<form method="GET" action="{% url 'proceso:historicoPagos' %}">
    <div class="row">
        <div class="col-md-3">
            <input class="form-control" type="text" name="numDocumento" placeholder="Buscar" value="{{ request.GET.numDocumento }}">
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </div>
</form>

<hr>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre Completo</th>
            <th>Documento</th>
            <th>Mes Pago</th>
            <th>Valor</th>
            <th>Diferencia</th>
            <th>Forma de Pago</th>
            <th>Tipo Asociado</th>
            <th>Fecha de Pago</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% if mensaje %}
            <tr>
                <td colspan="10" style="text-align: center;">
                    <p class="alert alert-warning">{{ mensaje }}</p>
                </td>
            </tr>
        {% endif %}
        {% for pago in page_obj.object_list %}
        <tr>
            <td>{{ pago.id }}</td>
            <td>{{ pago.asociado.nombre }} {{ pago.asociado.apellido }}</td>
            <td>{{ pago.asociado.numDocumento|intcomma }}</td>
            <td>{{ pago.mesPago.concepto }}</td>
            <td>${{ pago.valorPago|intcomma }}</td>
            <td>${{ pago.diferencia|intcomma }}</td>
            <td>{{ pago.formaPago.formaPago }}</td>
            <td>{{ pago.asociado.tAsociado.concepto }}</td>
            <td>{{ pago.fechaPago|date:"d/m/Y" }}</td>
            <th>
                <center><button class="btn btn-outline-primary" onclick="abrir_modal_creacion('{% url 'asociado:detallePago' pago.asociado.id pago.id %}')"><i class="fa-solid fa-eye"></i></button>
                <button class="btn btn-outline-primary" onclick="abrir_modal_creacion('{% url 'proceso:editarPagoAsociado' pago.id pago.asociado.id 2 %}')"><i class="fa-solid fa-pen-to-square"></i></button>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="creacion" role="dialog">
    <!-- En este div se visualiza la informacion para la creacion de un nuevo registro de entrada -->
</div>

<!-- Controles de paginación -->
<div class="pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1{% if request.GET.numDocumento %}&numDocumento={{ request.GET.numDocumento }}{% endif %}">&laquo; Primera</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.numDocumento %}&numDocumento={{ request.GET.numDocumento }}{% endif %}">Anterior</a></li>
            {% endif %}
                <li class="page-item"><a class="page-link"> Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</a></li>
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.numDocumento %}&numDocumento={{ request.GET.numDocumento }}{% endif %}">Siguiente</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.numDocumento %}&numDocumento={{ request.GET.numDocumento }}{% endif %}">Ultima &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock contenidoPagina %}


{% block extrajs %}

<script type="text/javascript">
    var $ = jQuery.noConflict()
    function abrir_modal_creacion(url){
        $('#creacion').load(url, function(){
            $(this).modal('show');
        });
    }
    
</script>

{% endblock extrajs %}