{% load humanize %}

<div class="modal-dialog modal-xl" role="document" id="modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar Pago:</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Asociado</th>
                            <th>N° Documento</th>
                            <th>Tarifa Asociado</th>
                            <th>Tipo Asociado</th>
                            <th>Diferencia</th>
                            <th>Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>{{query.asociado.nombre}} {{query.asociado.apellido}}</td>
                            <td>{{query.asociado.numDocumento|intcomma}}</td>
                            <td>${{query.total|intcomma}}</td>
                            <td>{{query.asociado.tAsociado}}</td>
                            <td>${{diferencia|intcomma}}</td>
                            <td>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Cuota Periodica: ${{ query.cuotaAporte|add:query.cuotaBSocial|intcomma }}<br>
                                        {% if query.cuotaMascota %}
                                            Mascota: ${{ query.cuotaMascota|intcomma }}<br>
                                        {% endif %}
                                        {% if query.cuotaRepatriacion %}
                                            Repatriación: ${{ query.cuotaRepatriacion|intcomma }}<br>
                                        {% endif %}
                                        {% if query.cuotaSeguroVida %}
                                            Seguro Vida: ${{ query.cuotaSeguroVida|intcomma }}<br>
                                        {% endif %}
                                        {% if query.cuotaAdicionales %}
                                            Adicionales: ${{ query.cuotaAdicionales|intcomma }}<br>
                                        {% endif %}
                                        {% if query.cuotaCoohopAporte %}
                                            Coohoperativitos: ${{ query.cuotaCoohopAporte|add:query.cuotaCoohopBsocial|intcomma }}<br>
                                        {% endif %}
                                        {% if query.cuotaConvenio %}
                                            Convenios: ${{ query.cuotaConvenio|intcomma }}<br>
                                        {% endif %}
                                    </div>
                                </div>                            
                            </td>
                        </tr>
                </table>
            </div>
            <hr>
            
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Información Pago:</h1>
            </div>
            <br>
            <form action="{% url 'proceso:modalPago' pkAsociado vista %}" method="post">
                {% csrf_token %}
                <div class="container text-center">
                    <div class="row align-items-center">
                        {% comment %} Columna 1 {% endcomment %}
                        <div class="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon3">Fecha Pago</span>
                                <input type="date" name="fechaPago" id="fechaPago" class="form-control" aria-label="Default select example" required>
                            </div>
                        </div>
                        
                        {% comment %} Columna 2 {% endcomment %}
                        <div class="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon3">Forma de Pago</span>
                                <select name="formaPago" id="formaPago" class="form-select" aria-label="Default select example" required>
                                    {% for pago in queryPago %}
                                        <option value="{{pago.pk}}">{{ pago.formaPago }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>Mes</th>
                                <th>Seleccionar</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in queryMes %}
                                {% if obj.pk != 9999 and obj.pk != 9998 and obj.pk != 9995 and obj.pk != 9994 %}
                                    <tr>
                                        <th>{{ forloop.counter }}</th>
                                        <td>{{ obj.concepto }}</th>
                                        <td style="text-align: center;">
                                            <div class="form-check form-switch" style="display: inline-block;">
                                                <input 
                                                    class="form-check-input switch-mes"
                                                    type="checkbox"
                                                    role="switch"
                                                    name="switches"
                                                    value="{{ obj.pk }}"
                                                    id="flexSwitchCheckDefault{{obj.pk}}"
                                                    data-costo="{{ obj.total }}" 
                                                    onchange="actualizarTotal()"
                                                >
                                                <label class="form-check-label" for="flexSwitchCheckDefault{{obj.pk}}"></label>
                                            </div>
                                        </td>
                                        {% if obj.pk == 9997 %}
                                            <td class="d-flex justify-content-center">
                                                <input type="number" data-costo="" name="valorCine" id="valorCine" class="form-control form-control-sm w-auto justify-content-center" style="text-align:center" min="0" disabled>
                                            </th>
                                        {% elif obj.pk == 9996 %}
                                            <td class="d-flex justify-content-center">
                                                <input type="number" data-costo="" name="valorCertificado" id="valorCertificado" class="form-control form-control-sm w-auto justify-content-center" style="text-align:center" min="0" disabled>
                                            </th>
                                        {% elif obj.pk == 9991 %}
                                            <td class="d-flex justify-content-center">
                                                <input type="number" data-costo="" name="valorViaje" id="valorViaje" class="form-control form-control-sm w-auto justify-content-center" style="text-align:center" min="0" disabled>
                                            </th>
                                        {% else %}
                                            <td>${{ obj.total|intcomma }}</th>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {% if cuotaVinculacion %}
                                <tr>
                                    <th>-</th>
                                    <td>CUOTA VINCULACION</th>
                                    <td style="text-align: center;">
                                        <div class="form-check form-switch" style="display: inline-block;">
                                            <input 
                                                class="form-check-input switch-mes"
                                                type="checkbox"
                                                role="switch"
                                                name="switches"
                                                id="flexSwitchCheckDefault9995"
                                                value="9995-{{cuotaVinculacion}}"
                                                data-costo="{{ cuotaVinculacion }}"
                                                onchange="actualizarTotal()"
                                            >
                                            <label class="form-check-label" for="flexSwitchCheckDefault9995"></label>
                                        </div>
                                    </td>
                                    <td>${{ cuotaVinculacion|intcomma }}</th>
                                </tr>
                            {% endif %}
                            <tr>
                                <th>-</th>
                                <td>CUOTA VINCULACION MENOR EDAD</th>
                                <td style="text-align: center;">
                                    <div class="form-check form-switch" style="display: inline-block;">
                                        <input 
                                            class="form-check-input switch-mes"
                                            type="checkbox"
                                            role="switch"
                                            name="switches"
                                            id="flexSwitchCheckDefault9994"
                                            value="9994-{{cuotaVinculacionMenorEdad.valor}}"
                                            data-costo="{{ cuotaVinculacionMenorEdad.valor }}"
                                            onchange="actualizarTotal()"
                                        >
                                        <label class="form-check-label" for="flexSwitchCheckDefault9994"></label>
                                    </div>
                                </td>
                                <td>${{ cuotaVinculacionMenorEdad.valor|intcomma }}</th>
                            </tr>
                            {% if queryCreditoProd %}
                                {% for homeElements in queryCreditoProd %}
                                
                                    <tr>
                                        <th>-</th>
                                        <td>CREDITO HOME ELEMENTS</th>
                                        <td style="text-align: center;">
                                            <div class="form-check form-switch" style="display: inline-block;">
                                                <input 
                                                    class="form-check-input switch-mes"
                                                    type="checkbox"
                                                    role="switch"
                                                    name="switches"
                                                    id="flexSwitchCheckDefault{{homeElements.pk}}"
                                                    value="{{ homeElements.pk }}-9998-{{ homeElements.valorCuotas }}"
                                                    data-costo="{{ homeElements.valorCuotas }}"
                                                    onchange="actualizarTotal()"
                                                >
                                                <label class="form-check-label" for="flexSwitchCheckDefault{{homeElements.pk}}"></label>
                                            </div>
                                        </td>
                                        <td>${{ homeElements.valorCuotas|intcomma }}</th>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            {% if queryCredito %}
                                {% for credito in queryCredito %}
                                
                                    <tr>
                                        <th>-</th>
                                        <td>CREDITO - {{credito.lineaCredito}} </th>
                                        <td style="text-align: center;">
                                            <div class="form-check form-switch" style="display: inline-block;">
                                                <input 
                                                    class="form-check-input switch-mes"
                                                    type="checkbox"
                                                    role="switch"
                                                    name="switches"
                                                    id="flexSwitchCheckDefault{{credito.pk}}"
                                                    value="{{ credito.pk }}-9993-{{ credito.valorCuota }}"
                                                    data-costo="{{ credito.valorCuota }}"
                                                    onchange="actualizarTotal()"
                                                >
                                                <label class="form-check-label" for="flexSwitchCheckDefault{{credito.pk}}"></label>
                                            </div>
                                        </td>
                                        <td>${{ credito.valorCuota|intcomma }}</th>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            <tr>
                                <th>-</th>
                                <td>ABONO</th>
                                <td style="text-align: center;">
                                    <div class="form-check form-switch" style="display: inline-block;">
                                        <input 
                                            class="form-check-input switch-mes"
                                            type="checkbox"
                                            role="switch"
                                            name="switches"
                                            value="9999"
                                            id="flexSwitchCheckDefault{{obj.pk}}"
                                            data-costo="{{ obj.total }}" 
                                            onchange="actualizarTotal()"
                                        >
                                        <label class="form-check-label" for="flexSwitchCheckDefault{{obj.pk}}"></label>
                                    </div>
                                </td>
                                <td>${{ obj.total|intcomma }}</th>
                            </tr>
                            <tr>
                                <th colspan="3">Total</th>
                                <th id="totalDisplay" data-total="{{ obj.total }}">${{ obj.total|intcomma }}</th>
                            </tr>
                            <tr>
                                <th colspan="3">Valor Pago</th>
                                <th>
                                    <input type="number" name="valorPago" id="valorPago" class="form-control" min="0" aria-label="Default select example" required style="text-align: center;" oninput="calcularDiferencia()" autocomplete="off"> 
                                </th>
                            </tr>
                            <tr>
                                <th colspan="3">Diferencia</th>
                                <th>
                                    <input type="text" name="diferencia" id="diferencia" class="form-control" aria-label="Default select example" required style="text-align: center;" readonly>
                                </th>
                            </tr>
                        </tbody>                
                    </table>
                    <button type="submit" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                            <path d="M11 2H9v3h2z"/>
                            <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
                        </svg>
                    </button>
                </div>
            </form>
            

            <script>
                // Al cargar el modal, se actualiza la fecha de pago a hoy
                $('#creacion').on('shown.bs.modal', function () {
                    // Obtiene la fecha actual en formato YYYY-MM-DD y la asigna al input de fecha
                    let today = new Date().toISOString().split('T')[0];  // Obtiene la fecha en formato YYYY-MM-DD
                    document.getElementById("fechaPago").value = today;
                    
                    // Input de valor cine, certificado, viaje
                    const inputCine = document.getElementById("valorCine"); // Input donde se escribe el valor
                    const switchCine = document.querySelector('input.switch-mes[value="9997"]'); // Switch con value 9997
                    const inputCertificado = document.getElementById("valorCertificado"); // Input donde se escribe el valor
                    const switchCertificado = document.querySelector('input.switch-mes[value="9996"]'); // Switch con value 9996
                    const inputViaje = document.getElementById("valorViaje"); // Input donde se escribe el valor
                    const switchViaje = document.querySelector('input.switch-mes[value="9991"]'); // Switch con value 9991

                    if (inputCine && switchCine) {
                        // Habilitar/deshabilitar input según el estado del switch
                        switchCine.addEventListener("change", function () {
                            inputCine.disabled = !this.checked; // Si el switch está activo, habilita el input; si no, lo deshabilita
                            if (!this.checked) {
                                inputCine.value = ""; // Borra el valor cuando se deshabilita
                                inputCine.dispatchEvent(new Event("input")); // Dispara el evento input para actualizar el total
                            }
                        });

                        // Evento input para actualizar data-costo y total
                        inputCine.addEventListener("input", function () {
                            let valor = parseFloat(this.value) || 0;
                            switchCine.setAttribute("data-costo", valor);
                            actualizarTotal();
                        });
                
                        // Deshabilitar input al cargar si el switch no está activo
                        inputCine.disabled = !switchCine.checked;
                    } else {
                        console.error("No se encontró el input del cine o el switch con value 9997.");
                    }

                    if (inputCertificado && switchCertificado) {
                        // Habilitar/deshabilitar input según el estado del switch
                        switchCertificado.addEventListener("change", function () {
                            inputCertificado.disabled = !this.checked; // Si el switch está activo, habilita el input; si no, lo deshabilita
                            if (!this.checked) {
                                inputCertificado.value = ""; // Borra el valor cuando se deshabilita
                                inputCertificado.dispatchEvent(new Event("input")); // Dispara el evento input para actualizar el total
                            }
                        });

                        // Evento input para actualizar data-costo y total
                        inputCertificado.addEventListener("input", function () {
                            let valor = parseFloat(this.value) || 0;
                            switchCertificado.setAttribute("data-costo", valor);
                            actualizarTotal();
                        });
                
                        // Deshabilitar input al cargar si el switch no está activo
                        inputCertificado.disabled = !switchCertificado.checked;
                    } else {
                        console.error("No se encontró el input del cine o el switch con value 9997.");
                    }

                    if (inputViaje && switchViaje) {
                        // Habilitar/deshabilitar input según el estado del switch
                        switchViaje.addEventListener("change", function () {
                            inputViaje.disabled = !this.checked; // Si el switch está activo, habilita el input; si no, lo deshabilita
                            if (!this.checked) {
                                inputViaje.value = ""; // Borra el valor cuando se deshabilita
                                inputViaje.dispatchEvent(new Event("input")); // Dispara el evento input para actualizar el total
                            }
                        });

                        // Evento input para actualizar data-costo y total
                        inputViaje.addEventListener("input", function () {
                            let valor = parseFloat(this.value) || 0;
                            switchViaje.setAttribute("data-costo", valor);
                            actualizarTotal();
                        });
                
                        // Deshabilitar input al cargar si el switch no está activo
                        inputViaje.disabled = !switchViaje.checked;
                    } else {
                        console.error("No se encontró el input del cine o el switch con value 9991.");
                    }
                });

                // Función para actualizar el total según los switches seleccionados
                function actualizarTotal() {
                    let total = 0;
                    
                    // Selecciona todos los switches y suma los valores de data-costo de los que están activados
                    document.querySelectorAll('.switch-mes:checked').forEach(switchElem => {
                        total += parseFloat(switchElem.getAttribute('data-costo')) || 0;
                    });
                    
                    // Actualiza el valor en data-total y el contenido visible de totalDisplay
                    const totalDisplay = document.getElementById('totalDisplay');
                    totalDisplay.setAttribute('data-total', total);
                    totalDisplay.textContent = total.toLocaleString('es-ES');
                    
                    // Recalcula la diferencia
                    calcularDiferencia();
                }

                // Función para calcular la diferencia
                function calcularDiferencia() {
                    const queryTotal = parseFloat(document.getElementById('totalDisplay').getAttribute('data-total')) || 0;
                    const valorPago = parseFloat(document.getElementById('valorPago').value) || 0;
                    const diferencia = valorPago - queryTotal;
                    
                    document.getElementById('diferencia').value = diferencia.toLocaleString('es-ES');
                }
                
            </script>
            
            </div>
        </div>  
    </div>
</div>