{% extends 'estructura/tabla.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    Pagos
{% endblock title %}

{% block button %}
    
{% endblock button %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'proceso:informacion' %}">Procesos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Pagos</li>
{% endblock breadcrumb %}

{% block submenu %}
    <br>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Realizar Pago</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'proceso:historicoPagos' %}">Lista</a>
        </li>
    </ul>
{% endblock submenu %}

{% block tablaencabezado %}
    <tr>
        <th>N°</th>
        <th>Asociado</th>
        <th>N° Documento</th>
        <th>Tarifa Asociado</th>
        <th>Tipo Asociado</th>
        <th>Opciones</th>
    </tr>
{% endblock tablaencabezado %}

{% block tablafilas %}
    {% for obj in query %}
        <tr>
            <th>{{ forloop.counter }}</th>
            <th>{{ obj.asociado__nombre }} {{obj.asociado__apellido}}</th>
            <th>{{ obj.asociado__numDocumento|intcomma }}</th>
            <th>${{ obj.total|intcomma }}</th>
            <th>{{ obj.asociado__tAsociado__concepto }}</th>
            <th>
                <center>
                <button class="btn btn-outline-primary d-flex align-items-center justify-content-center" onclick="abrir_modal_creacion('{% url 'proceso:modalPago' obj.asociado__id 2 %}')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                    </svg>
                </button>   
            </th>
        </tr>
    {% endfor %}

    <div class="modal fade" id="creacion" role="dialog">
        <!-- En este div se visualiza la informacion para la creacion de un nuevo registro de entrada -->
    </div>

{% endblock tablafilas %}

{% block extrajs %}

<script type="text/javascript">
    var $ = jQuery.noConflict()
    function abrir_modal_creacion(url){
        $('#creacion').load(url, function(){
            $(this).modal('show');
        });
    }
    function abrir_modal_creacion2(url){
        $('#creacion2').load(url, function(){
            $(this).modal('show');
        });
    }

</script>

<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="{% static 'lib/startbootstrap-sb-admin-gh-pages/js/datatables-simple-demo.js' %}"></script>

{% endblock extrajs %} 