<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">

        <!-- ENCABEZADO -->
        <div class="modal-header bg-primary text-white">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
                {% if tipoReporte == 'auxilio' %}
                    Descargar Auxilio por fecha
                {% elif tipoReporte == 'credito' %}
                    Descargar Créditos por fecha
                {% elif tipoReporte == 'ventasHE' %}
                    Descargar Ventas Home Elements
                {% endif %}</h1>
            <hr>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- CUERPO -->
        <div class="modal-body">
            {% if tipoReporte == 'auxilio' %}
                <form action="{% url 'reportes:descargarAuxilio' %}" method="post">
            {% elif tipoReporte == 'credito' %}
                <form action="{% url 'reportes:descargarCredito' %}" method="post">
            {% elif tipoReporte == 'ventasHE' %}
                <form action="{% url 'reportes:descargarVentasHE' %}" method="post">
            {% endif %}
                {% csrf_token %}
                <div class="row">
                    <!-- Input para Fecha Inicial -->
                    <div class="col-6">
                        <div class="form-group">
                            <label for="fechaInicial">Fecha Inicial:</label>
                            <input type="date" class="form-control" id="fechaInicial" name="fechaInicial" placeholder="Fecha Inicial">
                        </div>
                    </div>
                    <!-- Input para Fecha Final -->
                    <div class="col-6">
                        <div class="form-group">
                            <label for="fechaFinal">Fecha Final:</label>
                            <input type="date" class="form-control" id="fechaFinal" name="fechaFinal" placeholder="Fecha Final">
                        </div>
                    </div>
                </div>
                <hr>
                <button type="submit" class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel" viewBox="0 0 16 16">
                        <path d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                    </svg>
                </button>
            </form>
        </div>

    </div>
</div>