<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <!-- Encabezado -->
    <div class="modal-header bg-primary text-white">
      <div>
        <h5 class="modal-title mb-0">Crear Beneficiario</h5>
        <h6 class="text-light mb-0">{{ query.nombre }} {{ query.apellido }}</h6>
      </div>
      <input type="hidden" id="pkAsociado" value="{{ asociado.pk }}">
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
      <!-- Datos del asociado -->
      <form action="{% url 'asociado:crearBeneficiario' pkAsociado %}" method="post">
        {% csrf_token %}
        <div class="card mb-4 shadow-sm border-0">
          <div class="card-header bg-light">
            <h6 class="mb-0 text-secondary">Información del Beneficiario</h6>
          </div>

          <div class="card-body">
            <div class="row g-3">
              <div class="col-md-6">
                {{ form.nombre.label_tag }}
                {{ form.nombre }}
              </div>
              <div class="col-md-6">
                {{ form.apellido.label_tag }}
                {{ form.apellido }}
              </div>
              <div class="col-md-6">
                {{ form.tipoDocumento.label_tag }}
                {{ form.tipoDocumento }}
              </div>
              <div class="col-md-6">
                {{ form.numDocumento.label_tag }}
                {{ form.numDocumento }}
              </div>
              <div class="col-md-6">
                {{ form.fechaNacimiento.label_tag }}
                {{ form.fechaNacimiento }}
              </div>
              <div class="col-md-6">
                {{ form.parentesco.label_tag }}
                {{ form.parentesco }}
              </div>
              <div class="col-md-6">
                {{ form.paisRepatriacion.label_tag }}
                {{ form.paisRepatriacion }}
              </div>
              <div class="col-md-6">
                {{ form.fechaIngreso.label_tag }}
                {{ form.fechaIngreso }}
              </div>
            </div>
            
            <!-- Sección repatriación -->
            <div class="d-none mt-3 contenedor-repatriacion p-3 rounded bg-light">
              <div class="row g-3">
                <div class="col-md-6 col-lg-4 campo-repatriacion d-none">{{ form.fechaRepatriacion.label_tag }}{{ form.fechaRepatriacion }}</div>
                <div class="col-md-6 col-lg-4 campo-repatriacion d-none">{{ form.ciudadRepatriacion.label_tag }}{{ form.ciudadRepatriacion }}</div>
                <div class="col-md-12 col-lg-4 campo-repatriacion d-none">{{ form.primerMesRepatriacion.label_tag }}{{ form.primerMesRepatriacion }}</div>
              </div>
            </div>

            <div class="text-end mt-4">
              <button type="submit" class="btn btn-success">
                <i class="bi bi-floppy"></i> Guardar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>