<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content shadow-lg border-0">

        <!-- ENCABEZADO -->
        <div class="modal-header bg-primary text-white">
            <div>
                <h5 class="modal-title mb-0">{% if object %} Editar {% else %} Crear {% endif %}Coohoperativito</h5>
                <h6 class="text-light mb-0">Titular - {{ query.nombre }} {{ query.apellido }}</h6>
            </div>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- CUERPO -->
        <div class="modal-body">
            <form {% if object %} action="{% url 'asociado:editarCoohoperativito' pkAsociado pk %}" {% else %} action="{% url 'asociado:crearCoohoperativito' pkAsociado %}" {% endif %} method="post">
                {% csrf_token %}

                <div class="card shadow-sm border-0 mb-4">
                    <div class="card-header">
                        <h6 class="mb-0">Información del Coohoperativito</h6>
                    </div>

                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-md-6">
                                {{ form.nombre.label_tag }}
                                {{ form.nombre }}
                            </div>

                            <div class="col-md-6">
                                {{ form.apellido.label_tag }}
                                {{ form.apellido }}
                            </div>

                            <div class="col-md-6">
                                {{ form.tipoDocumento.label_tag }}
                                {{ form.tipoDocumento }}
                            </div>

                            <div class="col-md-6">
                                {{ form.numDocumento.label_tag }}
                                {{ form.numDocumento }}
                            </div>

                            <div class="col-md-6">
                                {{ form.fechaNacimiento.label_tag }}
                                {{ form.fechaNacimiento }}
                            </div>

                            <div class="col-md-6">
                                {{ form.fechaIngreso.label_tag }}
                                {{ form.fechaIngreso }}
                            </div>

                            <div class="col-md-6">
                                {{ form.primerMes.label_tag }}
                                {{ form.primerMes }}
                            </div>

                        </div>
                    </div>
                </div>
            
                <!-- BOTÓN GUARDAR -->
                <div class="text-end mt-4">
                    <button type="submit" class="btn btn-success">
                        Guardar
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>