{% extends 'index.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    Mascotas
{% endblock title %}

{% block button %}
    
{% endblock button %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'informacion:informacion' %}">Información</a></li>
    <li class="breadcrumb-item active" aria-current="page">Beneficiarios</li>
{% endblock breadcrumb %}

{% block contenidoPagina %}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'beneficiario:beneficiario' %}">Beneficiario</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Mascotas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'beneficiario:utilidades' %}">Utilidades</a>
    </li>
</ul>
<hr>

<form method="GET" action="{% url 'beneficiario:mascota' %}">
    <div class="row">
        <div class="col-md-3">
            <input class="form-control" type="text" name="numDocumento" placeholder="Buscar" value="{{ request.GET.numDocumento }}">
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </div>
</form>

<hr>
<table class="table table-hover">
    <thead>
        <tr>
            <th>N°</th>
            <th>N° Documento Titular</th>
            <th>Nombre Completo Titular</th>
            <th>Tipo</th>
            <th>Nombre Mascota</th>
            <th>Raza</th>
            <th>Vacunas Completas</th>
            <th>Fecha Nacimiento</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in page_obj.object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{obj.asociado.numDocumento|intcomma}}</td>
            <td>{{obj.asociado.nombre}} {{obj.asociado.apellido}}</td>
            <td>{{obj.tipo}}</td>
            <td>{{ obj.nombre }}</td>
            <td>{{ obj.raza }}</td>
            <td>{{ obj.vacunasCompletas }}</td>
            <td>{{ obj.fechaNacimiento }}</td>
            <td><a href="{% url 'asociado:mascota' obj.asociado.id %}" class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="creacion" role="dialog">
    <!-- En este div se visualiza la informacion para la creacion de un nuevo registro de entrada -->
</div>

<!-- Controles de paginación -->
<div class="pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1{% if request.GET.numDocumento %}&numDocumento={{ request.GET.numDocumento }}{% endif %}">&laquo; Primera</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.numDocumento %}&numDocumento={{ request.GET.numDocumento }}{% endif %}">Anterior</a></li>
            {% endif %}
                <li class="page-item"><a class="page-link"> Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</a></li>
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.numDocumento %}&numDocumento={{ request.GET.numDocumento }}{% endif %}">Siguiente</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.numDocumento %}&numDocumento={{ request.GET.numDocumento }}{% endif %}">Ultima &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock contenidoPagina %}


{% block extrajs %}

<script type="text/javascript">
    var $ = jQuery.noConflict()
    function abrir_modal_creacion(url){
        $('#creacion').load(url, function(){
            $(this).modal('show');
        });
    }
</script>

{% endblock extrajs %}


    