{% extends 'estructura/tabla.html' %}
{% load static humanize %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'informacion:informacion' %}">Información</a></li>
    <li class="breadcrumb-item"><a href="{% url 'asociado:asociado' %}">Asociados</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalle Asociado</li>
    <li class="breadcrumb-item active" aria-current="page">{{queryAsociado.nombre}} {{queryAsociado.apellido}} - {{queryAsociado.numDocumento}}</li>
{% endblock breadcrumb %}

{% block title %}
    Asociado
{% endblock title %}

{% block submenu %}

    {% include 'estructura/asociado/navbar.html' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-end mt-4 mb-4">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'asociado:asociado' %}" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                        </svg>
                    </a>
                    <button class="btn btn-primary d-flex align-items-center justify-content-center" onclick="abrir_modal_creacion('{% url 'asociado:crearVentaAsociado' pkAsociado %}')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div> 

    <div class="modal fade" id="creacion" role="dialog">
    <!-- En este div se visualiza la informacion para la creacion de un nuevo registro de entrada -->
    </div>

{% endblock submenu %}

{% block tablaencabezado %}
    <tr>
        <th>N°</th>
        <th>Fecha Venta</th>
        <th>Forma de Pago</th>
        <th>Cuotas</th>
        <th>Cuotas Pagadas</th>
        <th>Valor Cuota</th>
        <th>Pendiente Pago</th>
        <th>Valor Neto</th>
        <th>Opciones</th>
    </tr>
{% endblock tablaencabezado %}

{% block tablafilas %}
    {% for obj in ventas %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ obj.fechaVenta|date:"d/m/Y" }}</td>
            <td>{{ obj.formaPago }}</td>
            <td>
                {% if obj.formaPago == 'CREDITO' or obj.formaPago == 'DESCUENTO NOMINA' %}
                    {{ obj.cuotas }}
                {% endif %}
            </td>
            <td>
                {% if obj.formaPago == 'CREDITO' or obj.formaPago == 'DESCUENTO NOMINA' %}
                    {{ obj.cuotasPagas }}
                {% endif %}
            </td>
            <td class="fw-bold text-success">
                {% if obj.formaPago == 'CREDITO' or obj.formaPago == 'DESCUENTO NOMINA' %}
                    ${{ obj.valorCuotas|intcomma }}
                {% endif %}
            </td>
            <td class="fw-bold text-primary">
                {% if obj.formaPago == 'CREDITO' or obj.formaPago == 'DESCUENTO NOMINA' %}
                    ${{ obj.pendientePago|intcomma }}
                {% endif %}
            </td>
            <td class="fw-bold">${{ obj.valorNeto|intcomma }}</td>
            <td>
                <center>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button class="btn btn-outline-primary custom-btn" onclick="abrir_modal_edicion('{% url 'asociado:detalleVenta' pkAsociado obj.pk %}')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                        </svg>
                    </button>
                    <button class="btn btn-outline-primary custom-btn" onclick="abrir_modal_eliminacion('{% url 'asociado:eliminarDetalleVenta' pkAsociado obj.pk %}')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                        </svg>
                    </button>
                </div>
            </td>
        </tr>
    {% endfor %}

    <div class="modal fade" id="creacion" role="dialog">
        <!-- En este div se visualiza la informacion para la creacion de un nuevo registro de entrada -->
    </div>
    <div class="modal fade" id="edicion" role="dialog">
        <!-- En este div se visualiza la informacion para la creacion de un nuevo registro de entrada -->
    </div>
    <div class="modal fade" id="eliminacion" role="dialog">
        <!-- En este div se visualiza la informacion para la creacion de un nuevo registro de entrada -->
    </div>

{% endblock tablafilas %}

{% block extrajs %}
<script src="{% static 'js/tablaAmortizacion.js' %}"></script>

<script type="text/javascript">
    var $ = jQuery.noConflict()
    
    function abrir_modal_creacion(url){
        // Desactivar evento previo si existe para evitar duplicados
        $('#creacion').off('shown.bs.modal');
        
        $('#creacion').load(url, function(){
            $('#creacion').modal('show');
        
            $('#creacion').off('hidden.bs.modal').on('hidden.bs.modal', function () {
                $('#creacion').html('');
            });
        });
    }
    function abrir_modal_edicion(url){
        $('#edicion').load(url, function(){
            $(this).modal('show');
        });
    }
    function abrir_modal_eliminacion(url){
        $('#eliminacion').load(url, function(){
            $(this).modal('show');
        });
    }
</script>

{% endblock extrajs %}  



    