{% load static %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="{% static 'lib/startbootstrap-sb-admin-gh-pages/js/scripts.js' %} "></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="{% static 'lib/startbootstrap-sb-admin-gh-pages/assets/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'lib/startbootstrap-sb-admin-gh-pages/assets/demo/chart-bar-demo.js' %}"></script> -->
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="{% static 'lib/startbootstrap-sb-admin-gh-pages/js/datatables-simple-demo.js' %}"></script>
<script src="{% static 'lib/bootstrap-5.2.3-dist/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/jspdf/1.3.4/jspdf.min.js' %}"></script>
<script src="{% static 'js/function.js' %}"></script>

<script>
    // Tiempo de sesión en milisegundos
    const sessionTimeout = {{ session_timeout }} * 1000;
    const warningTime = 60 * 5 * 1000 // 5 minutos en milisegundos

    // Función para mostrar la alerta
    setTimeout(function() {
        function obtenerHoraActual() {
            const ahora = new Date();
            const horas = agregarCero(ahora.getHours());
            const minutos = agregarCero(ahora.getMinutes());
            const segundos = agregarCero(ahora.getSeconds());
        
            return `${horas}:${minutos}:${segundos}`;
        }
        
        function agregarCero(num) {
            return num < 10 ? '0' + num : num;
        }
        alert(`Hemos notado un tiempo de inactividad prolongado. \n Recarga la pagina o tu sesión se cerrara en 5 minutos. \n Hora del mensaje: ${obtenerHoraActual()}`);
    }, sessionTimeout - warningTime); // Restar el tiempo de advertencia del tiempo de sesión


    // Redirige al usuario al inicio de sesión después de que expire la sesión
    setTimeout(function() {
        alert("La sesión ha expirado. Serás redirigido al inicio de sesión.");
        window.location.href = "{% url 'login' %}";  // Cambia 'login' por el nombre de tu URL de login
    }, sessionTimeout);
</script>