{% extends 'index.html' %}
{% load static %}

{% block extraHead %}
    {% comment %} Estilos DataTables Simple {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />

    <style>
        table.dataTable td, 
        table.dataTable th {
            padding: 3px 6px !important;
            font-size: 14px !important;
        }

        table.dataTable tbody tr {
            height: 22px !important;
        }

        table.dataTable {
            border-collapse: collapse !important;
        }
    </style>
{% endblock extraHead %}

{% block contenidoPagina %}
    <div class="card" style="border:0px">
        {% block submenu %}

        {% endblock submenu %}

            <div class="table-responsive">

                <table id="datatablesSimple" class="display" style="width:100%">
                    <thead>
                        
                        {% block tablaencabezado %}
                            
                        {% endblock tablaencabezado %}
                            
                    </thead>
                    <tbody>
                        
                        {% block tablafilas %}
                            
                        {% endblock tablafilas %}
                        
                    </tbody>
                </table>
            </div>
    </div>
{% endblock contenidoPagina %}

{% block extrajsTable %}
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

{% comment %} <script src="{% static 'lib/startbootstrap-sb-admin-gh-pages/js/config.js' %}"></script> {% endcomment %}

<script>
    $(document).ready(function() {
        $('#datatablesSimple').DataTable({
            "responsive": true,
            "autoWidth": false,
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "pageLength": 20,
            "lengthMenu": [20, 40, 60, 100],
            "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    "infoEmpty": "Mostrando 0 a 0 de 0 registros",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                },
        });
    });
</script>

{% endblock extrajsTable %}
