{% extends 'index.html' %}
{% load static %}

{% block contenidoPagina %}
    <div class="card mb-4" style="border:0px">
        {% block submenu %}

        {% endblock submenu %}
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    
                    {% block tablaencabezado %}
                        
                    {% endblock tablaencabezado %}
                        
                </thead>
                <tbody>
                    
                    {% block tablafilas %}
                       
                    {% endblock tablafilas %}
                    
                </tbody>
            </table>
        </div>
    </div>
{% endblock contenidoPagina %}

{% block extrajs %}
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="{% static 'lib/startbootstrap-sb-admin-gh-pages/js/datatables-simple-demo.js' %}"></script>
<script src="{% static 'lib/startbootstrap-sb-admin-gh-pages/js/config.js' %}"></script>

{% endblock extrajs %}
